@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    font-family: "Kumbh Sans";
    text-align: center;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

h1, li > span {
    font-size: 18px;
    color: hsl(229, 23%, 23%);
}

h1 {
    margin-top: 70px;
    margin-right: 5px;
    display: inline-block;
}

img:first-of-type {
    display: block;
}

main > span {
    font-size: 17px;
}

h2 {
    font-size: 14px;
    font-weight: 400;
    margin-top: -4px;
    margin-bottom: 24px;
}

h2, main > span {
    color: hsl(227, 10%, 46%);
}

h3 {
    font-size: 10px;
    color: hsl(0, 0%, 59%);
    margin-top: 4px;
    margin-bottom: 24px;
    letter-spacing: 2px;
}

li > span {
    font-weight: 700;
}

hr {
    border-top: 1px solid hsla(0, 0%, 59%, 0.25);
}

#profile-pic {
    border-radius: 50%;
    width: 104px;
    border: 5.6px solid rgb(252, 252, 252);
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
}

main {
    position: relative;
    width: fit-content;
    background-color: rgb(252, 252, 252);
    border-radius: 16px;
    overflow: hidden;
}

li {
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
}

ul {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    margin-top: 23px;
    margin-bottom: 0;
}